////// Block Media //////
.block-media {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  text-decoration: none;
  cursor: pointer;
  .img--square {
    width: 200px;
    height: 200px;
    padding: 1rem;
    border-radius: 8px;
    object-fit: cover;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .img--hero {
    display: flex;
    width: 100wh;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  .block-media__content {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    color: $nc--100;
    h2, h3, h4, h5, h6 {
      margin: 0;
      color: $nc--100;
    }
  }
}

// Hover state
.block-media:hover {
  .img--square {
    -webkit-filter: sepia(0);
    filter: sepia(0);
    transition: $tr--m;
  }
  .block-media__content {
    color: $nc--100;
    transition: $tr--m;
    h2, h3, h4, h5, h6 {
      color: $nc--100;
    }
  }
}

// Size S
.block-media--s {
  margin-bottom: 16px;
  .img--square {
    width: 100px;
    height: 100px;
  }
  .block-media__content {
    margin-left: 8px;
  }
}

.img--square {
  width: 200px;
  height: 200px;
  border-radius: 8px;

  object-fit: cover;
}