//GLOBAL


@import url('https://fonts.googleapis.com/css?family=Bangers|Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body::-moz-selection {
  background: lighten($mc--med, 20%);
}

body::selection {
  background: lighten($mc--med, 20%);
}

body {
  background: $nc--00;
  color: $nc--100;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $mc--med;
  font-weight: bold;
  font-family: 'Bangers', cursive;
  line-height: 1.2;
}


ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  color: $mc--med;
  transition: $tr--s;

  &:hover {
    color: lighten($mc--med, 20%);
  }
}

strong {
  font-weight: bold;
}

hr {
  margin: 2rem auto;
  height: 2px;
  border: 0;
  background-color: $mc--med;
}

img {
  max-width: 100%;
  max-height: 100%;
}

table {
  border-collapse: collapse;
}